/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    hyphens: auto;
  }
}

.custom-shadow {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.custom-shadowa {
  box-shadow: 0px 3px 8px rgba(26, 113, 171, 0.50);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    hyphens: auto;
  }
}




.dientes-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px; /* Puedes ajustar esto según el espacio que desees entre los dientes */
}
.diente.seleccionado {
  border-color: #6a4caf; /* Cambia el color del borde cuando está seleccionado */
  box-shadow: 0 0 5px #4c66af; /* Agrega una sombra al diente seleccionado */
}
/* Estilos para la imagen de fondo */



.bg-center {
  background-position: center;
}

/* Estilos para hacer que la imagen no se superponga en dispositivos pequeños */
@media only screen and (max-width: 100%) {
  .bg-cover {
    background-size: contain; /* Cambiar a contener en dispositivos más pequeños */
  }
}

