@tailwind base;
/* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--foreground-start-rgb));
}

@layer utilities {
  .text-balance {
    hyphens: auto;
  }
}

.custom-shadow {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}